:root {
	--primary: #3a95ec;
	--primary-dark: #3383e0;
	--primary-light: #e9f3fd;

	--grad-primary: #5848ec;
	--grad-secondary: #93d0fd;

	--header-bg: #252559;

	--bg: #fff;
	--bg-color-transparent: rgba(255, 255, 255, 0.1);
	--text-color: white;
	--links-color: #606060;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background: linear-gradient(
		70deg,
		var(--grad-primary),
		var(--grad-secondary)
	);
	/* background-attachment: fixed; */
	color: var(--text-color);
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: background 0.3s, color 0.3s;
}

.day {
	--text-color: #fff;
}
.night {
	--primary: darkslateblue;
	--primary-dark: rgb(64, 55, 121);
	--primary-light: rgb(91, 61, 157);

	--grad-secondary: #5348ec;
	--grad-primary: #6167af;

	--text-color: #fff;

	--bg: rgb(45, 39, 67);
	--links-color: deepskyblue;
}

button {
	color: inherit;
	background-color: var(--bg-color-transparent);
	border: 1px solid transparent;
}

#header,
#app,
#footer {
	width: 100%;
	flex-grow: 0;
}

header {
	max-width: 600px;
	margin: 0 auto;
	background: var(--header-bg);
	margin-bottom: 2em;
	border-radius: 15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: 0 0 35px rgba(36, 12, 115, 0.5);
}

#form-search {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em;
	color: #4b4b4b;
}

/* .form-group{} */

.form-label {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	color: white;
}

#form-input {
	font-weight: bold;
	width: 100%;
	display: block;
	background-color: transparent;
	padding-bottom: 0.5em;
	font-size: 1.1rem;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid transparent;
	color: white;
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

#form-input:focus {
	border-bottom-color: var(--grad-primary);
	outline: none;
}
#form-input::placeholder {
	font-weight: lighter;
	text-transform: initial;
}

#form-submit {
	display: block;
	width: 100%;
	background: linear-gradient(
		to right,
		var(--grad-primary),
		var(--grad-secondary)
	);
	border: 1px solid rgb(29, 29, 49);
	padding: 0.5em;
	color: #fff;
	border-radius: 8px;
	font-weight: bold;
	font-size: 1.1rem;
	margin: 0;
	margin-top: 0.5em;
}

#form-submit:hover {
	opacity: 0.8;
}
#form-submit:active {
	transform: translateY(3%);
}

.location {
	position: sticky;
	inset: 0;
	width: 100%;
	font-weight: bold;
	padding: 0.5em 0;
	/* background: linear-gradient(6deg, var(--grad-primary), var(--grad-secondary)); */
	/* background-attachment: fixed; */
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.2);

	border: 1px solid transparent;
	border-bottom-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 1em;
}

#info,
#tabs,
#chart,
#days {
	margin: 1em 1em;
	padding: 1em;
	display: flex;
}

#info {
	padding-left: 1em;
	padding-right: 1em;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	text-align: left;
	gap: 0.5em;
	flex-direction: column;
	/* flex-wrap: wrap; */
}

.wrapper_img {
	/* display: flex; */
}

.wrapper_temp {
	/* flex-basis: 100%; */
	display: flex;
	font-size: 3rem;
	margin: 0;
	min-width: 130px;
}

.info__temp {
	margin: 0;
}
.info__btns {
	display: flex;
}

.btns {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	background-color: transparent;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-transform: uppercase;
}

.info__btns .active {
	background-color: var(--bg-color-transparent);
	font-weight: bold;
}

.wrapper_data {
}

.data__p,
.info__p {
	margin: 0;
}

.wrapper_city {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	/* margin-left: auto; */
	/* text-align: right; */
}

.city__city {
	margin: 0;
}

#tabs {
	/* margin: 0.5em 0; */
	/* background-color: rgba(255, 255, 255, 0.2); */
	border: 1px solid rgba(255, 255, 255, 0.2);
	/* width: 100%; */
	gap: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	flex-direction: column;
	border-radius: 10px;
	/* flex-wrap: wrap; */
}

#tabs button {
	display: block;
	width: 100%;
	background: rgba(255, 255, 255, 0.2);
	border: 2px solid transparent;
	padding: 0.5em 0;
	color: var(--header-bg);
	border-radius: 6px;
	font-size: 1.1rem;
	margin: 0;
}
#tabs button:hover {
	opacity: 0.8;
}
#tabs .active {
	color: white;
	background: var(--header-bg);
}

#chart {
	overflow-x: scroll;
	gap: 0.5em;
	margin: 0;
	/* border: 1px solid rgba(255, 255, 255, 0.2); */
	/* padding-left: 1em;
	padding-right: 1em; */
	border-radius: 10px;
}

#chart::-webkit-scrollbar {
	background-color: var(--bg-color-transparent);
	height: 6px;
	/* width: 90%; */
	/* margin: 0 1em; */
}
#chart::-webkit-scrollbar-track {
	margin: 0 1em;
}

#chart::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-transparent);
	border-radius: 3px;
}
#chart::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color);
}

.chart__card {
	background-color: var(--bg-color-transparent);
	padding: 2em;
	border: 1px solid var(--bg-color-d);
	border-radius: 10px;
}

.hour__temp {
	font-weight: bold;
}
.hour {
	opacity: 0.5;
}

.hour__img {
	height: 60px;
	/* width: auto; */
}

a {
	color: var(--links-color);
	font-weight: bold;
}

#footer {
	padding-top: 2em;
	position: relative;
	min-height: 200px;
	text-align: center;
}

#app {
	margin: 0 auto;
	text-align: center;
	/* padding: 0 1em; */
}

#main {
	max-width: 900px;
	margin: 0 auto;
}

.hide {
	display: none;
}

#toggle {
	display: none;
}

/* .wrapper_img,
.wrapper_temp,
.wrapper_data,
.wrapper_city {
} */

.info__img {
	display: block;
	max-width: 150px;
	min-width: 100px;
	height: auto;
}

.item-block {
	display: block;
}

#days {
	flex-wrap: wrap;
	/* flex-direction: column; */
	max-width: 600px;
	margin: 0 auto;
	gap: 0.5em;
}

#days .days__card {
	/* width: 100%; */
	flex-grow: 1;
	padding: 1em;
	border-radius: 10px;
	background-color: var(--bg-color-transparent);
	border: 1px solid var(--bg-color-d);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
#days .days__card:hover {
	/* background-color: var(--bg-color-transparent); */
}
/* #days .active {
	padding: 1em;
	border-radius: 5%;
	background-color: var(--bg-color-d);
	border: 1px solid var(--bg-color-d);
} */
/* #days button.active:hover {
	background-color: var(--bg-color-d);
} */

.days__min {
	opacity: 0.5;
}
.days__img {
	filter: drop-shadow(0px 0px 20px rgba(255, 226, 139, 0.5));
}

@media (min-width: 600px) {
	#info {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.wrapper_temp {
		/* flex-basis: 100%; */
		/* max-width: 300px; */
		flex-grow: 1;
	}
	.wrapper_data {
		/* flex-basis: 50%; */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.wrapper_city {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#tabs {
		flex-direction: row;
	}

	#tabs button {
		max-width: 150px;
	}

	.wrapper_img {
		/* flex-basis: auto; */
	}
}

@media (min-width: 700px) {
	.wrapper_temp {
		flex-grow: 0;
		flex-basis: auto;
	}

	.wrapper_city {
		/* display: flex;
		flex-direction: column;
		justify-content: space-between; */
		/* flex-basis: 100%; */
		margin-left: auto;
		text-align: right;
	}
}

.custom-shape-divider-bottom-1658260719 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658260719 svg {
	position: relative;
	display: block;
	width: calc(101% + 1.3px);
	height: 80px;
}

.custom-shape-divider-bottom-1658260719 .shape-fill {
	fill: #ffffff96;
}
